<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3">Man Power Supply</div>

    <div class="grid" style='text-align: justify;
    text-justify: inter-word;'>
        <div class=" w-full lg:w-6 text-700">

            <div class="text-700 text-1xl mb-5" style="width:100%">

                <img src="assets/images/manpowersupply.jpg" style="width:100%">



            </div>
        </div>

        <div class="w-full lg:w-6 text-700">

            <div class="text-700 text-1xl mb-5" >

                <p>
                    We are a well-known firm of NDT& ANDT Manpower Services.

We focus on continued success by bringing the best possible candidates to our clients in the field of NDT, QC, API INSPECTORS, and Welding.


NDT is the back bone for almost all industries and VNDTS provides well trained and experienced NDT Inspectors to the facilities where as the organization gains confidence on the person’s proficiency and skills.

                </p>

                <li>Velocity NDT Solutions has supported companies worldwide in resolving difficult and complex
                    inspection applications. </li>
                <li>Our experienced Engineers and Level III operators can supply you with the appropriate inspection
                    technique for your application.</li>
                <li>Providing Tube Inspection Inspectors (ECT,MFL,IRIS,RFT,NFT)</li>
                <li>Providing MFL Tank Floor Inspectors</li>
                <li>Providing PAUT/TOFD Inspectors</li>
                <li>Providing Experienced API Inspectors</li>
                <li>Providing Conventional NDT Inspectors (MT,PT,UT,RT,VT)</li>
                <li>Develop procedures and perform demonstrations on mock-up samples to validate all of our proposed
                    solutions.</li>



            </div>
        </div>

    </div>
</div>