<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3"><a href="/andts">ANDT Services</a> - 3D MFL Tank
        Floor Scanning</div>

    <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
            <li class="flex align-items-center mb-3">
                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                <span class="text-900 font-medium text-xl mb-2">3D MFL Tank Floor Scanning</span>

            </li>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />

            <p>
                3D MFL Tank Floor Scanning: Velocity NDT Solutions (VNDTS) continues to invest in the latest Technology
                with the addition of the Silverwing Computerized Magnetic Flux Leakage (MFL)Floor map 3D scanner with
                STARS technology to provide discrimination between top and bottom surface defects.

            </p>

            <li>Surface profile with STARS technology</li>

            <p>
                The innovative STARS technology (patent pending) adds an additional set of sensors to detect variation
                in magnetic field strength caused by top side defects, and combines this with traditional MFL
                indications to identify top or bottom location. The Floormap3D has a total of 256 sensors, enhancing
                lateral resolution to detect smaller defects, and reduce sensitivity to defect orientation. The top
                surface discrimination works effectively through up to 6 mm (1/4″) coating, enabling effective tank
                inspection without coating removal.
            </p>
            <div class="grid">


                <div class="col-12 lg:col-4">
                    <p>

                        <img src="assets/images/3D MFL Tank Floor Scanning-1.jpg" style="width:100%">

                    </p>
                </div>

                <div class="col-12 lg:col-4">
                    <p>

                        <img src="assets/images/3D MFL Tank Floor Scanning.jpg" style="width:100%">
                        A MFL map of a tank floor showing corrosion
                    </p>
                </div>

            </div>

            <p>
                The metal bottom of a tank can produce an unnecessary inspection and maintenance effort in comparison to
                its initial cost. This reflects the difficulty in detecting corrosion of the tank floor, especially on
                the underside. This in turn can give rise to an insidious loss of product and damage to the environment
                with the inevitability of a reduction in profits.
            </p>


            <p>
                Whilst it is unusual for a failed floor to lead directly to catastrophic failure of a storage tank, it
                is not impossible for it to do so. A more common failure mechanism is leakage through the floor damaging
                the tank foundations, which could lead to instability and eventual catastrophic failure. Nevertheless
                the integrity of the original tank bottom remains the prime means of preventing product loss and
                associated damage to the environment, and thus it needs to be maintained in a sound condition.
            </p>

            <p>
                Recent developments in the methods available to inspect tank floors make remaining life predictions
                easier. The Floormap3D is the most advanced MFL floor scanner on the market today. ANS combines this
                unit with a complimentary inspection tool (Hand Scan HS 100 system) that is ideal for the restricted
                areas such as adjacent to shell wall; below internal piping and at plate intersections; also for storage
                tanks of diameters lower than 10 m, petal floor plate designs or in situ heating coils.
            </p>

            <p>
                The degree of inspection and repair that it is economically sensible to perform before the whole floor
                is replaced will be influenced by many factors. These obviously include material and contracting costs,
                but a major factor will be the time and cost of cleaning the tank and preparing it for work. This latter
                cost will vary greatly depending on whether the tank is holding clean, light product or is handling
                crude or heavy oil or a dirty liquid.
            </p>

            <p>
                Inspection data from the Handscan can be manually added into the SIMS reporting software when used in
                conjunction with the Floor map 3D floor scanners to produce a complete ‘fingerprint’ of the tank floor
                condition.
            </p>

            <li>High Productivity and Accuracy</li>

            <p>
                The Floormap3D has a wider sensor head than previous models capable of scanning up to 1440 m2 per day,
                and unlike manual ‘stop on defect’ systems, this is irrespective of the number of indications found. The
                software guided mapping process encourages the most efficient plate coverage, and helps ensure the
                maximum area is scanned reducing the chance of missed corrosion.
            </p>

            <p>
                The high resolution MFL sensor head coupled with advanced signal processing, significantly improves
                corrosion detectability and sizing over previous generation systems. Typically on a 6 mm (1/4″) plate,
                defects as small as 20% (as specified by API 653) have a 100% probability of detection, with sizing
                accuracy better than +/- 5%. The system will also detect pipe type defects and through holes down to 3
                mm (1/8″), with the unique raw MFL and STARS data views aiding in characterization of defect types.
            </p>


        </div>