<div class="surface-section text-center" style="height:100%;width:98%;padding-top:3em;">
    <div class="mb-3 font-bold text-3xl">

        <span class="text-blue-600">Velocity NDT Solutions</span>
        <!-- <span class="text-900"> (VNDTS) </span> -->
    </div>
    <!-- <div class="text-700 mb-6">(Work Together)</div> -->
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5" (click)="openPage(1)" style="cursor:pointer">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-book text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">About VNDTS</div>
            <span class="text-700 line-height-3">Velocity NDT Solutions are an experienced state of the art Non
                Destructive testing service company</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5" (click)="openPage(6)">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-slack text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">ANDT Services</div>
            <span class="text-700 line-height-3">Eddy Current Testing (ECT), Remote Field Testing (RFT), Internal Rotary
                Inspection System (IRIS), Magnetic Flux Leakage Testing and Many</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5" (click)="openPage(7)">  
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-hourglass text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">CNDT Services</div>
            <span class="text-700 line-height-3">Remote Visual Inspection, Magnetic Particle Inspection, Dye Penetrant
                Inspection, Industrial Radiography, Ultrasonic Inspection</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5" (click)="openPage(3)">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-shield text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Manufacturing Services</div>
            <span class="text-700 line-height-3">Calibration Blocks, Exchanger Calibration Tubes, Probes for Exchanger
                Tubes</span>
        </div>

        <div class="col-12 md:col-4 mb-4 px-5" (click)="openPage(4)">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-key text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Training Services</div>
            <span class="text-700 line-height-3">Eddy Current Tube Testing ASNT Level-II (ET), Remote field Testing ASNT
                Level-II (RFT), Magnetic Flux Leakage Testing ASNT Level-II (MFL) and Many</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5" (click)="openPage(2)">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-users text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Manpower Supply</div>
            <span class="text-700 line-height-3">We focus on continued success by bringing the best possible candidates
                to our clients in the field of NDT, QC, API
                INSPECTORS, and Welding.
            </span>
        </div>

        <div class="col-12" (click)="openPage(5)">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-bolt text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Industries</div>
            <span class="text-700 line-height-3">Petrochemical Oil& Gas Sector, Power Generation& Energy, Construction &
                Fabrication Sectors</span>
        </div>

    </div>
</div>
