<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3">ANDT Services</div>
    <div class="grid" style='text-align: justify;
    text-justify: inter-word;'>
        <div class="col-12 lg:col-4" style="cursor:pointer" (click)="this.route.navigate(['tubeinspectionservices']);">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check-circle text-green-500 mr-2"></i>
                        <span class="text-900 font-medium text-xl mb-2">Tube Inspection Services</span>

                    </li>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <img src="assets/images/Heat Exchanger Inspection.jpg" style="width:100%">

                    <p>
                        Tube Inspections Services have been carried out by Velocity NDT Solutions personnel for the
                        Petrochemical and Power Generation. We specialize in Eddy Current and Ultrasonic techniques for
                        both ferrous and non-ferrous tubing. Our line of techniques includes:
                    </p>




                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4" style="cursor:pointer" (click)="this.route.navigate(['mfltankfloorscanning']);">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check-circle text-green-500 mr-2"></i>
                        <span class="text-900 font-medium text-xl mb-2">3D MFL Tank Floor Scanning</span>

                    </li>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <img src="assets/images/3D MFL Tank Floor Scanning.jpg" style="width:100%">
                    <p>
                        3D MFL Tank Floor Scanning: Velocity NDT Solutions (VNDTS) continues to invest in the latest
                        Technology with the addition of the Silverwing Computerized Magnetic Flux Leakage (MFL)Floor map
                        3D scanner with STARS technology to provide discrimination between top and bottom surface
                        defects.
                    </p>





                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4" style="cursor:pointer" (click)="this.route.navigate(['phasedarray']);">
        <div class="p-3 h-full">
            <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 font-medium text-xl mb-2">PHASED ARRAY </span>

                </li>
                <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                <img src="assets/images/PHASED ARRAY.jpg" style="width:100%">
                <p>
                    Welds and weld overlays, piping, pressure vessels, clad material, storage tanks and structural
                    steel. Raised face flanges for damage on the ID bore and sealing face without having to
                    disassemble them. This technique can be used during shutdowns, or on operating flanges. Complex
                    geometries with a single probe

                </p>





            </div>
        </div>
    </div>

    <div class="col-12 lg:col-4" style="cursor:pointer" (click)="this.route.navigate(['timeofflightdiffraction']);">
   
    <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
            <li class="flex align-items-center mb-3">
                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                <span class="text-900 font-medium text-xl mb-2">TIME OF FLIGHT DIFFRACTION (TOFD) </span>

            </li>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
            <img src="assets/images/TIME OF FLIGHT DIFFRACTION (TOFD).jpg" style="width:100%">
            <p>
                This ultrasonic inspection is commonly performed on welds and weld overlays, piping, pressure
                vessels, clad material, storage tanks and structural steel. As fabricated heavy wall vessels and
                piping can be thoroughly assessed for fabrication flaws with TOFD.
            </p>





        </div>
    </div>
</div>

<div class="col-12 lg:col-4" style="cursor:pointer" (click)="this.route.navigate(['borescopeinspections']);">
<div class="p-3 h-full">
    <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
        <li class="flex align-items-center mb-3">
            <i class="pi pi-check-circle text-green-500 mr-2"></i>
            <span class="text-900 font-medium text-xl mb-2">Borescope Inspections </span>

        </li>
        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
        <img src="assets/images/Borescope Inspections.jpg" style="width:100%">
        <p>
            Velocity NDT Solutions provide a comprehensive Borescope Inspection Service. Borescope
            inspections are widely used in the Power Generation and Pharmaceutical Industry to visually
            inspect items of plant and machinery. In Pharmaceutical industry ASME BPE requires up to 100%
            borescope inspection of pipe work during construction. The Inspection Engineers at Advanced NDT
            Solutions have extensive experience carrying out borescope inspection for a number of leading
            mechanical engineering and pharmaceutical companies.
        </p>





    </div>
</div>
</div>


</div>
</div>