<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3"><a href="/cndts">CNDT Services</a> - Magnetic Particle Inspection</div>

    <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
            <li class="flex align-items-center mb-3">
                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                <span class="text-900 font-medium text-xl mb-2">Magnetic Particle Inspection</span>

            </li>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />

            <p>
                The non-destructive testing technology Magnetic Particle Inspection or MT as it is generally
                referred to be a simple crack detection tool for ferrous materials. MPI is used mainly for
                detecting surface breaking flaws. Some techniques will detect large sub-surface flaws. There are
                a number of levels of sensitivity and means of inducing magnetic fields in materials. The
                technique is determined by specific application and configuration of part to be inspected. In
                order to perform this inspection technique, it is a requirement to remove all coatings and have
                surface clean of dirt, scale and grease.
            </p>

            <p>
                MPI will detect flaws perpendicular to the magnetic field, for this reason it is necessary to
                magnetize the material in at least two directions.

            </p>

            <p>
                During MPI the iron particles are in either dry or wet form. In wet form they are either oil or
                water based.
            </p>

            <p>
                <b> Wet Fluorescent Magnetic Test (WFMT) – </b> this technique requires the use of UV light in a
                darkened environment. This is the most sensitive MPI technique and used extensively in the Power
                Generation and Petrochemical Industry during maintenance inspections. Electromagnet or Portable
                AC/DC Coil units are used for this inspection technique.
                All inspections are performed by experienced ANS certified personnel to ASNT or PCN.
                Specifications governing Magnetic Particle Inspection include ASME V and EN17638.

            </p>
            <img src="assets/images/Wet Fluorescent Magnetic Test (WFMT).jpg" style="width:100%">
            </div>
        </div>