<div class="grid"
    [style]="{'padding':'0','background-color':'red', 'width': '100%' , 'margin':'0','height':'4em','border-width':0, 'border-radius':0,'vertical-align':'middle'}">

    <div class="col-12" style="color:white;display:flex;
        align-items:center; justify-content: space-between; font-weight: bold;">



        <div> Support : &nbsp;&nbsp; +917208243202 &nbsp;<i class="pi pi-phone"></i> </div>

        <div> Mail : &nbsp;&nbsp; info@vndts.co.in &nbsp;<i class="pi pi-send"></i> </div>

    </div>


</div>