<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3">Manufacturing Services</div>


    <p-fieldset legend="CNDT Calibration Blocks" [toggleable]="true">
        <div class="grid">
            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card"
                        style="width:100%;border-radius: 6px">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900 font-medium text-xl mb-2">V1 Block</span>

                        </li>
                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                        <img src="assets/images/V1 Block.jpg" style="width:100%;">

                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card"
                        style="width:100%;border-radius: 6px">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900 font-medium text-xl mb-2">V2 Block</span>

                        </li>
                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                        <img src="assets/images/V2 Block.jpg" style="width:100%;">

                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card"
                        style="width:100%;border-radius: 6px">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900 font-medium text-xl mb-2">Step Wedges</span>

                        </li>
                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                        <img src="assets/images/Step Wedges.jpg" style="width:100%;">

                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card"
                        style="width:100%;border-radius: 6px">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900 font-medium text-xl mb-2">UT Test Blocks</span>

                        </li>
                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                        <img src="assets/images/UT Test Blocks.jpg" style="width:100%;">

                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card"
                        style="width:100%;border-radius: 6px">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900 font-medium text-xl mb-2">MT and PT Test Blocks</span>

                        </li>
                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                        <img src="assets/images/MT and PT Test Blocks.jpg" style="width:100%;">

                    </div>
                </div>
            </div>
        </div>
    </p-fieldset><br />
    <p-fieldset legend="Exchanger Calibration Tubes" [toggleable]="true">
        <div class="grid">
            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card"
                        style="width:100%;border-radius: 6px">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900 font-medium text-xl mb-2">ECT Calibration Tubes</span>

                        </li>
                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                        <img src="assets/images/ECT Calibration Tubes.jpg" style="width:100%;">

                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card"
                        style="width:100%;border-radius: 6px">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900 font-medium text-xl mb-2">RFT Calibration Tubes</span>

                        </li>
                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                        <img src="assets/images/RFT Calibration Tubes.jpg" style="width:100%;">

                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card"
                        style="width:100%;border-radius: 6px">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900 font-medium text-xl mb-2">NFT Calibration Tubes</span>

                        </li>
                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                        <img src="assets/images/NFT Calibration Tubes.jpg" style="width:100%;">

                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card"
                        style="width:100%;border-radius: 6px">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900 font-medium text-xl mb-2">MFL Calibration Tubes</span>

                        </li>
                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                        <img src="assets/images/MFL Calibration Tubes.jpg" style="width:100%;">

                    </div>
                </div>
            </div>
           
           
        </div>
    </p-fieldset>
    <br />
    <p-fieldset legend="Probes for Exchanger Tubes" [toggleable]="true">
        <div class="grid">
            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card"
                        style="width:100%;border-radius: 6px">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900 font-medium text-xl mb-2">EDDY Current Bobbin Probes</span>

                        </li>
                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                        <img src="assets/images/EDDY Current Bobbin Probes.jpg" style="width:100%;">

                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card"
                        style="width:100%;border-radius: 6px">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900 font-medium text-xl mb-2">RFT Probes</span>

                        </li>
                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                        <img src="assets/images/RFT Probes.jpg" style="width:100%;">

                    </div>
                </div>
            </div>
            </div>
    </p-fieldset>


    
</div>



