<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3"><a href="/andts">ANDT Services</a> - PHASED ARRAY
    </div>

    <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
            <li class="flex align-items-center mb-3">
                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                <span class="text-900 font-medium text-xl mb-2">PHASED ARRAY</span>

            </li>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />

            <li class="flex align-items-center mb-3">
                <i class="pi pi-arrow-circle-right text-green-500 mr-2"></i>
                <span>Welds and weld overlays, piping, pressure vessels, clad material, storage tanks and structural
                    steel</span>

            </li>

            <li class="flex align-items-center mb-3">
                <i class="pi pi-arrow-circle-right text-green-500 mr-2"></i>
                <span>Raised face flanges for damage on the ID bore and sealing face without having to disassemble
                    them. This technique can be used during shutdowns, or on operating flanges</span>

            </li>

            <li class="flex align-items-center mb-3">
                <i class="pi pi-arrow-circle-right text-green-500 mr-2"></i>
                <span>Complex geometries with a single probe</span>

            </li>

            <div class="col-12 lg:col-4">
                <p>

                    <img src="assets/images/PHASED ARRAY.jpg" style="width:100%">

                </p>
            </div>


            <li>ADVANTAGES</li> <br />

            <li class="flex align-items-center mb-3">
                <i class="pi pi-arrow-circle-right text-green-500 mr-2"></i>
                <span>High degree of repeatability. Position and size data for every flaw can be compared for repeat
                    scans of the same area to track flaw growth or corrosion rates both generally and for individual
                    pits</span>

            </li>

            <li class="flex align-items-center mb-3">
                <i class="pi pi-arrow-circle-right text-green-500 mr-2"></i>
                <span>Sound beams of many angles can be generated sequentially, inspecting a large portion of the
                    component’s cross-section. Electronic adjustment of beam focus and angle, and sweeping of UT beam
                    through the entire weld volume</span>

            </li>

            <p>The ultrasonic beam may be both steered (change of angle), focused and scanned without moving the
                probe.
            </p>

            <li class="flex align-items-center mb-3">
                <i class="pi pi-caret-right text-green-500 mr-2"></i>
                <span> Portable, battery operated testing device </span>
            </li>
            <li class="flex align-items-center mb-3">
                <i class="pi pi-caret-right text-green-500 mr-2"></i>
                <span> Inspection can be performed on in-service equipment</span>
            </li>
            <li class="flex align-items-center mb-3">
                <i class="pi pi-caret-right text-green-500 mr-2"></i>
                <span> Faster inspections</span>
            </li>
            <li class="flex align-items-center mb-3">
                <i class="pi pi-caret-right text-green-500 mr-2"></i>
                <span>Can be combined with TOFD scan</span>
            </li>









        </div>