<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3"><a href="/andts">ANDT Services</a> - Tube Inspection
        Services</div>

    <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
            <li class="flex align-items-center mb-3">
                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                <span class="text-900 font-medium text-xl mb-2">Tube Inspection
                    Services</span>

            </li>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />

            <p>
                Tube Inspections Services have been carried out by Velocity NDT Solutions personnel for the
                Petrochemical and Power Generation. We specialize in Eddy Current and Ultrasonic techniques for both
                ferrous and non-ferrous tubing. Our line of techniques includes:

            </p>

            <li>Remote Field Technology (RFT- Ferrous Tubing);</li>
            <li> Magnetic Flux Leakage Testing (MFL-Ferrous Tubing)</li>
            <li> Near Field Testing (NFT – Fin Fans)</li>
            <li> Eddy Current Testing (ECT- Non-ferrous Tubing);</li>
            <li> Internal Rotary Inspection System (IRIS-Ultrasonic Testing all materials). </li>

            <div class="col-12 lg:col-4">
                <p>

                    <img src="assets/images/Heat Exchanger Inspection.jpg" style="width:100%">
                    Heat Exchanger Inspection
                </p>
            </div>


            <p>
                Scheduled shutdowns present an opportunity for planned inspection programs which enable continued
                operation of critical plant equipment by minimizing unexpected failures. Prior to deciding which
                techniques are most suitable for your needs the following items should be considered: number of tubes to
                be inspected; cleanliness of tubes and time available for inspection.
            </p>


            <div class="grid" style='text-align: justify;
            text-justify: inter-word;'>
                <div class="col-12 lg:col-4">
                    <div class="p-3 h-full">
                        <p style='text-align:left; font-weight: bold;'>
                            <b>Eddy Current Testing (ECT)</b>
                            <img src="assets/images/Eddy Current Testing (ECT).jpg" style="width:100%; padding-top:1em">
                        </p>
                        <p>
                            This is the most common technique utilized for the inspection of non-ferrous tubing, the
                            technology is very reliable and can determine tube condition in relation to general wall
                            reduction and the presence of local defects such as pitting and cracking with a high
                            probability of detection when using the correct probes. Standard inspection technique for
                            smooth tubing utilizes two separate channels for data acquisition; Absolute (wall reduction)
                            and Differential (local defects).

                        </p>
                        <p>When inspecting finned tubing (chillers) an A/C probe is
                            used to reduce noise associated with fins. Detailed analysis can be performed using software
                            tools which can determine location of defects in relation to ID/OD of tube wall by Phase
                            Analysis from depth curves which are generated from calibration standard. Software tools
                            also allowing for mixing of baffle signature to evaluate flaws hidden behind baffle supports
                        </p>
                    </div>
                </div>

                <div class="col-12 lg:col-4">
                    <div class="p-3 h-full">
                        <p style='text-align:left; font-weight: bold;'>
                            <b>Remote Field Testing (RFT)</b>
                            <img src="assets/images/Remote Field Testing (RFT).jpg" style="width:100%; padding-top:1em">
                        </p>
                        <p>
                            This is a fast reliable screening tool for the condition assessment of ferrous tubing
                            (carbon steel, ferritic stainless steel and Duplex). Works typically at very low frequencies
                            (100 Hz to 1 kHz) and very high signal gains (> 80 dB) can inspect up to 12 mm (1/2 in.) of
                            carbon steel pipe. </p>
                        <p>Typically two channels are used for examination, Absolute for wall
                            thinning and Differential for localized defects RFT is very good at wall thinning
                            measurement but less performing to pitting (as compared to ECT). To improve inspection
                            results it is always advised to perform cleaning of the internal bore of tubes with some
                            form of water jet lancing tool

                        </p>

                    </div>
                </div>

                <div class="col-12 lg:col-4">
                    <div class="p-3 h-full">
                        <p style='text-align:left; font-weight: bold;'>
                            <b>IRIS – Internal Rotary Inspection System</b>
                            <img src="assets/images/IRIS – Internal Rotary Inspection System.jpg"
                                style="width:100%; padding-top:1em">
                        </p>
                        <p>
                            This is an ultrasonic technique for condition assessment of tubing of all materials with a
                            tube wall thickness greater than 1mm. The technology can precisely measure remaining wall
                            thickness from corrosion, erosion, pitting and wear associated with baffle supports. However
                            it requires a very high standard of cleaning and is a much slower technique than the ECT or
                            RFT test methods.
                        </p>
                        <p>It is not possible to detect cracking with IRIS. The system uses a
                            rotating turbine head with a transducer sending a single into tube wall via an angular
                            mirror. The image displayed can be seen as a B-Scan (Cross-sectional view) and also in a
                            C-Scan (Development of Longitudinal axis of tube).

                        </p>

                    </div>
                </div>

                <div class="col-12 lg:col-4">
                    <div class="p-3 h-full">
                        <p style='text-align:left; font-weight: bold;'>
                            <b>Magnetic Flux Leakage Testing</b>
                            <img src="assets/images/Magnetic Flux Leakage Testing.jpg"
                                style="width:100%; padding-top:1em">
                        </p>
                        <p>
                            The principle of operation is based on magnetization, two permanent magnets coupled to a
                            steel core are used to magnetize the tube wall until complete saturation is reach. To that,
                            three coils are added each one being sensitive to specific defects. An absolute coil is
                            winded around the core to measure the magnetic field variation caused by general wall
                            losses. This makes MFL more a detection method than a sizing one. Inspection is quite fast
                            the pulling speed can go up to 1 m/s.

                        </p>

                    </div>
                </div>

                <div class="col-12 lg:col-4">
                    <div class="p-3 h-full">
                        <p style='text-align:left; font-weight: bold;'>
                            <b>Near Field Testing</b>
                            <img src="assets/images/Near Field Testing.jpg" style="width:100%; padding-top:1em">
                        </p>
                        <p>
                            Near field testing (NFT) technology is a rapid and inexpensive solution intended
                            specifically for fin-fan carbon-steel tubing inspection. This new technology relies on a
                            simple driver-pickup eddy current probe design providing very simple signal analysis.NFT is
                            specifically suited to the detection of internal corrosion, erosion, or pitting on the
                            inside of carbon steel tubing. The NFT probes measure lift-off or "fill factor," and convert
                            it to amplitude-based signals (no phase analysis). Because the eddy current penetration is
                            limited to the inner surface of the tube, NFT probes are not affected by the fin geometry on
                            the outside of the tubes.

                        </p>

                    </div>
                </div>

            </div>
        </div>