<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3"><a href="/cndts">CNDT Services</a> - Ultrasonic Inspection</div>

    <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
            <li class="flex align-items-center mb-3">
                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                <span class="text-900 font-medium text-xl mb-2">Ultrasonic Inspection</span>

            </li>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />

            <p>
                Velocity NDT Solutions inspection engineers, provide ultrasonic inspection of welds and material our global clients. Our team has vast experienced and carries out inspections to all international standards. This is done using the most up to date equipment and techniques.
            </p>

            <p>
                Ultrasonic Inspection technique transmits sound waves into materials and then analyses the reflection of these sound waves. Hence, determining whether they are reflected off the back wall of the material being inspected or off flaws within the material.

            </p>

            <p>
                Ultrasonic Inspection is a very accurate NDT inspection technique for most material thicknesses. It is especially suited for difficult weld geometries and complex configurations.
                With this form of inspection one surface of the material has to be accessible to carry out the inspection. Additionally, in certain instances inspection can be carried out on ‘live systems’ which eliminates the need to shut down plant for inspection.
                
            </p>

            <p>
                Furthermore, Ultrasonic Inspection is non-hazardous so can be carried out in conjunction with other operations. Thus, having no requirement to isolate areas for exclusion as is the case with site radiography.

            </p>

            <p>
                Ultrasonic Inspection is used for thickness measurement and corrosion surveys. It is extensively used on pipe lines in various industries to check for corrosion and erosion in pipe lines.
            </p>

            <p>
                Velocity NDT Solutions have carried out those inspections in a wide range of industries. We have provided inspection to the oil and gas industry both on shore and off shore. We have a team of specialist Inspection Engineers that can provide the answer to your inspection requirements.

            </p>

            <img src="assets/images/Ultrasonic Inspection.jpg" style="width:100%">
            </div>
        </div>