<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3"><a href="/cndts">CNDT Services</a> - Industrial Radiography</div>

    <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
            <li class="flex align-items-center mb-3">
                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                <span class="text-900 font-medium text-xl mb-2">Industrial Radiography</span>

            </li>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />

            <p>
                Velocity NDT Solutions certified Non Destructive Testing Inspection Engineers provide an extensive industrial radiography service. Radiography is a versatile NDT inspection technique providing a permanent record of findings.
            </p>

            <p>
                We use both X and gamma radiography to provide a wide range of sensitivities depending on the material thickness and the type of defects to be located.
            </p>

            <p>
                The x ray energies we use are from 50kV to 350kV and the gamma sources are Iridium 192 and Selenium 75.
            </p>
            <p>
                Velocity NDT Solutions has an in house radiography service and we also provide an ‘on site’ service using our portable equipment.
            </p>
            <p>
                Selenium Se75 is a particularly versatile source for radiography, it is very portable and with the use of fine grain film can achieve sensitivities approaching that of x ray. It can also be used in confined spaces as it is easier to collimate to reduce the controlled area.
            </p>
            <p>
                VNDTS has a wide range of experience of providing radiography on Power Stations, Pharmaceutical Plant and in the Oil and Gas Industry.
            </p>
            <p>
                At Velocity NDT Services our Inspection Engineers have extensive experience in providing the Answer to your radiography requirements.
            </p>

                        <div class="grid" style='text-align: justify;
            text-justify: inter-word;'>
                <div class="col-12 lg:col-4">
                    <div class="p-3 h-full">
                        <p style='text-align:left; font-weight: bold;'>
                            NDT Services – Inspection Engineers 
                            <img src="assets/images/NDT Services – Inspection Engineers.jpg"
                                style="width:100%; padding-top:1em">
                        </p>
                    </div>
                </div>

                <div class="col-12 lg:col-4">
                    <div class="p-3 h-full">
                        <p style='text-align:left; font-weight: bold;'>
                            In house radiography service
                            <img src="assets/images/In house radiography service.jpg"
                                style="width:100%; padding-top:1em">
                        </p>
                    </div>
                </div>

                <div class="col-12 lg:col-4">
                    <div class="p-3 h-full">
                        <p style='text-align:left; font-weight: bold;'>
                            Industrial Radiography
                            <img src="assets/images/Industrial Radiography.jpg"
                                style="width:100%; padding-top:1em">
                        </p>

                    </div>
                </div>
            </div>
        </div>