<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3">CNDT Services</div>
    <div class="grid" style='text-align: justify;
    text-justify: inter-word;'>
        <div class="col-12 lg:col-4" (click)="this.route.navigate(['magneticparticleinspection'])"
            style="cursor:pointer">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check-circle text-green-500 mr-2"></i>
                        <span class="text-900 font-medium text-xl mb-2">Magnetic Particle Inspection</span>

                    </li>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <img src="assets/images/Wet Fluorescent Magnetic Test (WFMT).jpg" style="width:100%">

                    <p>
                        The non-destructive testing technology Magnetic Particle Inspection or MT as it is generally
                        referred to be a simple crack detection tool for ferrous materials. MPI is used mainly for
                        detecting surface breaking flaws. Some techniques will detect large sub-surface flaws. There are
                        a number of levels of sensitivity and means of inducing magnetic fields in materials. The
                        technique is determined by specific application and configuration of part to be inspected. In
                        order to perform this inspection technique, it is a requirement to remove all coatings and have
                        surface clean of dirt, scale and grease.
                    </p>




                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4" (click)="this.route.navigate(['dyepenetrantinspection'])" style="cursor:pointer">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check-circle text-green-500 mr-2"></i>
                        <span class="text-900 font-medium text-xl mb-2">Dye Penetrant Inspection</span>

                    </li>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <img src="assets/images/Fluorescent Dye Penetrant Inspection used to locate cracking.jpg"
                        style="width:100%; padding-top:1em">

                    <p>
                        Velocity NDT Solutions personnel have extensive experience in DPI – Dye Penetrant Inspection –
                        and LPI – Liquid Penetrant Inspection. VNDTS’s experienced non destructive testing inspection
                        engineers are certified to ASME and EN codes.

                    </p>





                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4" (click)="this.route.navigate(['industrialradiography'])" style="cursor:pointer">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check-circle text-green-500 mr-2"></i>
                        <span class="text-900 font-medium text-xl mb-2">Industrial Radiography</span>

                    </li>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <img src="assets/images/NDT Services – Inspection Engineers.jpg"
                        style="width:100%; padding-top:1em">

                    <p>
                        Velocity NDT Solutions certified Non Destructive Testing Inspection Engineers provide an
                        extensive industrial radiography service. Radiography is a versatile NDT inspection technique
                        providing a permanent record of findings.
                    </p>




                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4" (click)="this.route.navigate(['ultrasonicinspection'])" style="cursor:pointer">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check-circle text-green-500 mr-2"></i>
                        <span class="text-900 font-medium text-xl mb-2">Ultrasonic Inspection</span>

                    </li>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <img src="assets/images/Ultrasonic Inspection.jpg" style="width:100%; padding-top:1em">




                    <p>
                        Velocity NDT Solutions inspection engineers, provide ultrasonic inspection of welds and material
                        our global clients. Our team has vast experienced and carries out inspections to all
                        international standards. This is done using the most up to date equipment and techniques.
                    </p>




                </div>
            </div>
        </div>

    </div>
</div>