

    <div class="grid" [style]="{'padding':'0','background-color':'red', 'width': '100%' , 'margin':'0','height':'4em','border-width':0, 'border-radius':0,'vertical-align':'middle'}">
        
        <div class="col-12" style="color:white;display:flex;
        align-items:center;">
           
            Support : &nbsp;&nbsp;<i class="pi pi-phone"></i> &nbsp;&nbsp; +91 9874561230
            
        </div>
       
        
        </div>


<div class="sticky">
        <p-menubar [model]="menuItems"
        [style]="{'background-color':'white', 'width': '100%' , 'height':'5em','border-width':0,'padding-top':'2em','border-radius':0}">
     
        <ng-template [pTemplate]="isMobile?'end':'start'">
            <img src="https://irisndts.com/images/logo.png"
                height="80" class="mr-2">
    
        </ng-template>
        
    </p-menubar>
    
</div>

<div style="position: relative;">
<img class='imgshadow' [style.height.em]="isMobile?'18':'36'" style="width: 100%;  padding:0;" [src]="images[showImage]" />

<a class="prev" (click)="changeImage(-1)">❮</a>
<a class="next" (click)="changeImage(1)">❯</a>

<div class='diva' id="div5" style="color:antiquewhite;"><h1 style="font-size:3em">Company Name</h1><h3> Details </h3></div>    



</div>

<div style="width:100%;display:flex; word-wrap: normal;" >

    <div class="col-1">&nbsp;</div>
    <div class="col-4" >
        sdfgasdasdfasd<br/>
        fasd<br/>
        fasd<br/>
        sdfgasdasdfasdasdfas<br/>
    </div>
    <div class="col-1">&nbsp;</div>
    
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="grid" [style]="{'padding':'0','background-color':'red', 'width': '100%' , 'margin':'0','height':'100%','border-width':0, 'border-radius':0,'vertical-align':'middle'}">
        
    <div class="col-12" style="color:white;display:flex;
    align-items:center;">
       
        <h2>GET A FREE CONSULTATION FOR YOUR COURSE NOW!</h2>
 

    
    </div>
   
    
    </div>


    <div class="grid" [style]="{'padding':'0','background-color':'black', 'width': '100%' , 'margin':'0','height':'4em','border-width':0, 'border-radius':0,'vertical-align':'middle'}">
        
        <div class="col-12" style="color:white;display:flex;
        align-items:center;">
           
            Support : &nbsp;&nbsp;<i class="pi pi-phone"></i> &nbsp;&nbsp; +91 9874561230
            
        </div>


<div class="icon-bar">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
  </div>