<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3"><a href="/cndts">CNDT Services</a> - Dye Penetrant Inspection</div>

    <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
            <li class="flex align-items-center mb-3">
                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                <span class="text-900 font-medium text-xl mb-2">Dye Penetrant Inspection</span>

            </li>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />

            <p>
                Velocity NDT Solutions personnel have extensive experience in DPI – Dye Penetrant Inspection – and LPI –
                Liquid Penetrant Inspection. VNDTS’s experienced non destructive testing inspection engineers are
                certified to ASME and EN codes.

            </p>

            <p>
                DPI is a low cost inspection method used to locate surface breaking defects in non-porous materials.
            </p>

            <p>
                DPI is one of the oldest methods of non-destructive testing. One of its earliest uses in the 19th
                Century was in the railway industry to inspect steel components. The method was known as the “Oil and
                Whiting” method. The components were soaked in oil, cleaned and then a chalk and alcohol developer
                applied.
            </p>
            <p>
                Penetrant is applied to the surface of the component, this penetrant is drawn into surface breaking
                discontinuities. After cleaning the component of excess penetrant a developer is applied which draws the
                dye out of the discontinuities and so they become visible.
            </p>
            <p>
                There are several DPI techniques employed by Velocity NDT Solutions. The least sensitive technique but
                the most versatile and easiest to use is visible penetrant. For greater sensitivity fluorescent DPI is
                used. This requires a darkened area and the use of a UV light source.
            </p>
            <p>
                When selecting the technique consideration needs to be given to several factors. The type of
                discontinuity sought, the expected size of the discontinuity and the surface finish on the material.
            </p>
            <p>
                Care and consideration must also be given to the compatibility of the chemicals used for the inspection
                and the material being inspected so that permanent staining or degradation of the material does not
                occur.
            </p>
            <div class="grid" style='text-align: justify;
            text-justify: inter-word;'>
                <div class="col-12 lg:col-4">
                    <div class="p-3 h-full">
                        <p style='text-align:left; font-weight: bold;'>
                            Fluorescent Dye Penetrant Inspection used to locate cracking
                            <img src="assets/images/Fluorescent Dye Penetrant Inspection used to locate cracking.jpg"
                                style="width:100%; padding-top:1em">
                        </p>
                    </div>
                </div>

                <div class="col-12 lg:col-4">
                    <div class="p-3 h-full">
                        <p style='text-align:left; font-weight: bold;'>
                            Discontinuities in material located using visible DPI
                            <img src="assets/images/Discontinuities in material located using visible DPI.jpg"
                                style="width:100%; padding-top:1em">
                        </p>
                    </div>
                </div>

                <div class="col-12 lg:col-4">
                    <div class="p-3 h-full">
                        <p style='text-align:left; font-weight: bold;'>
                            Liquid Penetrant Inspection
                            <img src="assets/images/Liquid Penetrant Inspection.jpg"
                                style="width:100%; padding-top:1em">
                        </p>

                    </div>
                </div>
            </div>
        </div>