<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3">About VNDTS</div>

    <div class="grid" style='text-align: justify;
    text-justify: inter-word;'>
        <div class=" w-full lg:w-6 text-700">

            <div class="text-700 text-1xl mb-5" style="width:100%">

                <img src="assets/images/about.jpg" style="width:100%">



            </div>
        </div>

        <div class="w-full lg:w-6 text-700">

            <div class="text-700 text-1xl mb-5">

                Velocity NDT Solutions are an experienced state of the art non destructive testing service company.
                Hence, our personnel have the skills and years of experience to provide top quality advanced and
                standard non-destructive testing services. Additionally, we work in the petrochemical, power generation
                and construction industries.
                <p>To control the quality of the services we provide Velocity NDT Solutions operates a Quality System.
                    Velocity NDT Solutions continues to audit and improved the system to ensure the highest standards of
                    service are maintained.
                </p>
                <p>
                    In addition, at VNDTS we commit to delivering an excellent service that never compromise health and
                    safety. We provide dedicated services and applications for the Petrochemical; Oil & Gas; Power
                    Generation – Energy and Construction Sectors globally. We perform all of these tasks with a
                    commitment to Quality and Integrity every time.
                </p>

                <p>
                    Velocity NDT Services provides a comprehensive array of Advanced NDT techniques to a worldwide
                    client
                    base. Working with its international partners to develop and support quality advanced inspection
                    technologies in the field.
                </p>
                <p>Specializing in
                    <li>Tube Inspection Services (RFT/ECT/NFT/MFL/IRIS);</li>
                    <li>Phased Array Ultrasonic (Complex Geometries and Austenitic Materials); </li>
                    <li> Short Range Ultrasonic Testing (SRUT) Time of Flight Diffraction (TOFD); </li>
                    <li> ACFM & Eddy Current Array; </li>
                    <li>PAUT Boiler Tube Inspection; </li>
                    <li> PAUT LNG Storage Tank Inspection; </li>
                    <li>Pulsed Eddy Current Testing (PEC); </li>
                    <li> 3D MFL Tank Floor Scanning; </li>
                    <li> Long Range UT; </li>
                    <li> Short Range UT</li>
                    <li> Automated Corrosion Mapping. </li>


                </p>
                <p>
                    VNDTS provides all of these services always maintaining Quality &
                    Integrity. Additionally, the VNDTS team will propose solutions for all of your inspection
                    requirements.
                    Additionally, we are always an advocate for performance demonstration of specific techniques.
                    Likewise, our Centre of excellence R&D department are always willing to evaluate the most difficult
                    inspection tasks.
                </p>


            </div>
        </div>

    </div>
</div>