<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3">Training Services</div>

    <div class="grid" style='text-align: justify;
    text-justify: inter-word;'>
        <div class=" w-full lg:w-6 text-700">

            <div class="text-700 text-1xl mb-5" style="width:100%">

                <img src="assets/images/training.jpg" style="width:100%">



            </div>
        </div>

        <div class="py-4  w-full lg:w-6 text-700">

            <div class="text-700 text-1xl mb-5">
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 font-medium text-xl mb-2">Eddy Current Tube Testing ASNT Level-II (ET)</span>

                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 font-medium text-xl mb-2">Remote field Testing ASNT Level-II (RFT)</span>

                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 font-medium text-xl mb-2">Magnetic Flux Leakage Testing ASNT Level-II
                        (MFL)</span>

                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 font-medium text-xl mb-2">Internal Rotary Inspection System Testing ASNT
                        Level-II (IRIS)</span>

                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 font-medium text-xl mb-2">Near Field Testing ASNT Level-II (NFT)</span>

                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 font-medium text-xl mb-2">Ultrasonic Testing ASNT Level-II (UT)</span>

                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 font-medium text-xl mb-2">Phased Array Testing ASNT Level-II (PAUT)</span>

                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 font-medium text-xl mb-2">Time of Flight Diffraction Testing ASNT Level-II
                        (TOFD)</span>

                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 font-medium text-xl mb-2">Magnetic Particle Testing ASNT Level-II (MT)</span>

                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 font-medium text-xl mb-2"> Penetrant Testing ASNT Level-II (PT)</span>

                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 font-medium text-xl mb-2"> Radiographic Testing ASNT Level-II (RT)</span>

                </li>



            </div>
        </div>

    </div>
</div>