<div style="position: relative; ">
    <img class='imgshadow' [style.height.em]="isMobile?'18':'36'" style="width: 100%;  padding:0; "
        [src]="images[showImage]" />

   


    <div class='diva' id="div5"
        style="background: rgba(0, 0, 0, 0.3); height:100%;width:100%; padding:10px; color: white;text-align: center;">
        <h1 style="font-size:3em">Velocity NDT Solutions</h1>
        <!-- <h3> (Work Together) </h3> -->
    </div>
    <a class="prev" (click)="changeImage(-1)">❮</a>
    <a class="next" (click)="changeImage(1)"> ❯</a>


</div>