<div class="grid" style="width:98%"> 


    <div class="p-4 w-full lg:w-6" >
        <div class="text-center mb-5">

            <div class="text-blue-600 text-3xl font-bold font-medium mb-3"> Contact Us </div>

        </div>

        <div class="shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px">
            <label for="name" class="block text-900 font-medium mb-2">Name</label>
            <input id="name" type="text" placeholder="Name" pInputText class="w-full mb-3">

            <label for="email" class="block text-900 font-medium mb-2">Email</label>
            <input id="email" type="text" placeholder="Email Address" pInputText class="w-full mb-3">

            <label for="comments" class="block text-900 font-medium mb-2">Comments</label>
            <textarea id="comments" rows="5" cols="30" placeholder="Your Comments" pInputTextArea class="w-full mb-3"></textarea>

            <button pButton pRipple label="Contact us" icon="pi pi-phone" class="w-full"></button>
        </div>
    </div>



    <div class="p-4 w-full lg:w-6">
        <div class="text-center mb-5">

            <div class="text-blue-600 text-3xl font-bold font-medium mb-3"> Address </div>

        </div>


        <div class="text-center shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px">
            <div class="text-900 font-medium text-xl mb-2"> Velocity NDT Solutions </div>
            <div class="text-600"> (VNDTS)</div>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
            <div>

                <span class="ml-2 font-medium text-600">
                    3-131, Talvayipadu, <br />
                    pellakuru mandal, <br />
                    Tirupathi - 524126, <br />
                    Andhra Pradesh, <br />
                    India <br/>
                </span>
            </div>

            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
            <div>

                <span class="ml-2 font-medium text-600">
                    T Venu, <br /> <i class="pi pi-phone text-blue-500"></i> +91-72082 43202, <br /> <i
                        class="pi pi-send text-blue-500"></i> venu@vndts.co.in

                </span>
            </div>

            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />

            <div>

                <span class="ml-2 font-medium text-600">
                    K Prajendra,<br /> <i class="pi pi-phone text-blue-500"></i> +91-97406 83469,<br /> <i
                        class="pi pi-send text-blue-500"></i> prajendra@vndts.co.in

                </span>
            </div>





        </div>
    </div>

   


</div>
