<div class="grid" style="width:98%"> 


    <div class="p-4 w-full lg:w-6" >
        <div class="text-center mb-5">

            <div class="text-blue-600 text-3xl font-bold font-medium mb-3"> Contact Us </div>

        </div>

        <div class="shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px">
            <label for="name" class="block text-900 font-medium mb-2">Name</label>
            <input id="name" type="text" placeholder="Name" pInputText class="w-full mb-3">

            <label for="email" class="block text-900 font-medium mb-2">Email</label>
            <input id="email" type="text" placeholder="Email Address" pInputText class="w-full mb-3">

            <label for="comments" class="block text-900 font-medium mb-2">Comments</label>
            <textarea id="comments" rows="7" cols="30" placeholder="Your Comments" pInputTextArea class="w-full mb-3"></textarea>

            <button pButton pRipple label="Contact us" icon="pi pi-phone" class="w-full"></button>
        </div>
    </div>



    <div class="p-4 w-full lg:w-6">
        <div class="text-center mb-5">

            <div class="text-blue-600 text-3xl font-bold font-medium mb-3"> Address </div>

        </div>


        <div class="text-center shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px">
            <div class="text-900 font-medium text-xl mb-2"> Velocity NDT Solutions </div>
            <div class="text-600"> (VNDTS)</div>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
            <div class="text-900 font-bold text-xl mb-2"> Working Hours </div>
            <div class="text-blue-600 font-bold"> Monday to Friday: 9:30 AM - 6:00 PM <br/>
                                    Saturday: 9:30 AM - 1:00 PM </div>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
            <div class="grid" style="width:100%">
                <div class="text-center" [style]="isMobile?'width:100%': 'width:50%'">
                <span class="text-center ml-2 font-medium text-600">
                    Flat # 201, <br/>
                    Sri Sai VVSR& VKK Apartment,<br />
                    Crombay Road, Bhavani Puram,  <br />
                    Vijayawada, NTR District - 520012, <br />
                    Andhra Pradesh, <br />
                    India <br/>
                </span>
            </div>
           
            <div class="text-center" [style]="isMobile?'width:100%': 'width:50%'">
                <hr *ngIf='isMobile' class="my-3 mx-0 border-top-1 border-none surface-border" />
                <span class="ml-2 font-medium text-600">
                    3-131, <br/>
                    Talvayipadu, <br />
                    Pellakuru Mandal, <br />
                    Tirupathi - 524126, <br />
                    Andhra Pradesh, <br />
                    India <br/>
                </span>
            </div>
            </div>

            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
            <div class="grid" style="width:100%">
                <div class="text-center" [style]="isMobile?'width:100%': 'width:50%'">
                <span class="ml-2 font-medium text-600">
                    T Venu, <br /> <i class="pi pi-phone text-blue-500"></i> +91-72082 43202, <br /> <i
                        class="pi pi-send text-blue-500"></i> venu@vndts.co.in

                </span>
            </div>


            

            <div class="text-center" [style]="isMobile?'width:100%': 'width:50%'">
                <hr *ngIf='isMobile' class="my-3 mx-0 border-top-1 border-none surface-border" />
                <span class="ml-2 font-medium text-600">
                    K Prajendra,<br /> <i class="pi pi-phone text-blue-500"></i> +91-97406 83469,<br /> <i
                        class="pi pi-send text-blue-500"></i> prajendra@vndts.co.in

                </span>
            </div>
            </div>






        </div>
    </div>

    
    <!-- <agm-marker 
    [latitude]="16.534944" 
    [longitude]="80.598333">    
</agm-marker> -->

</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3824.8245394370433!2d80.59576797424023!3d16.534953426803728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTbCsDMyJzA1LjgiTiA4MMKwMzUnNTQuMCJF!5e0!3m2!1sen!2sin!4v1694150678823!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>