<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-blue-600 text-center font-bold text-4xl mb-3"><a href="/andts">ANDT Services</a> - TIME OF FLIGHT
        DIFFRACTION (TOFD)
    </div>

    <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="width:100%;border-radius: 6px">
            <li class="flex align-items-center mb-3">
                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                <span class="text-900 font-medium text-xl mb-2">TIME OF FLIGHT DIFFRACTION (TOFD)</span>

            </li>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
            <div class="col-12 lg:col-4">
                <p>
                    <img src="assets/images/TIME OF FLIGHT DIFFRACTION (TOFD).jpg" style="width:100%">
                </p>
            </div>

            <p>
                This ultrasonic inspection is commonly performed on welds and weld overlays, piping, pressure vessels,
                clad material, storage tanks and structural steel. As fabricated heavy wall vessels and piping can be
                thoroughly assessed for fabrication flaws with TOFD.
            </p>
            <p>
                To verify compliance with fabrication requirements for piping and vessels in accordance to standards
                such as:
            </p>
            <li class="flex align-items-center mb-3">
                <i class="pi pi-arrow-circle-right text-green-500 mr-2"></i>
                <span>ASME Section I</span>

            </li>

            <li class="flex align-items-center mb-3">
                <i class="pi pi-arrow-circle-right text-green-500 mr-2"></i>
                <span>Code Case 189,or</span>
            </li>
            <li class="flex align-items-center mb-3">
                <i class="pi pi-arrow-circle-right text-green-500 mr-2"></i>
                <span>ASME VIII Division 1 and 2</span>
            </li>
            <li class="flex align-items-center mb-3">
                <i class="pi pi-arrow-circle-right text-green-500 mr-2"></i>
                <span>For in-service defect monitoring</span>
            </li>
            <li class="flex align-items-center mb-3">
                <i class="pi pi-arrow-circle-right text-green-500 mr-2"></i>
                <span>For detecting defects during the manufacturing process</span>
            </li>

            <p>
                Advantages
            </p>
           
            <li class="flex align-items-center mb-3"><i
                class="pi pi-arrow-circle-right text-green-500 mr-2"></i><span>High degree of repeatability</span>
        </li>

        <li class="flex align-items-center mb-3"><i
                class="pi pi-arrow-circle-right text-green-500 mr-2"></i><span>Position and size data for every flaw
                can be compared for repeat scans of the same area to track flaw growth or corrosion rates both
                generally and for individual pits</span></li>
        <li class="flex align-items-center mb-3"><i
                class="pi pi-arrow-circle-right text-green-500 mr-2"></i><span>Not limited by defect
                orientation</span></li>
        <li class="flex align-items-center mb-3"><i
                class="pi pi-arrow-circle-right text-green-500 mr-2"></i><span>Precise defect sizing
                capability</span></li>
        <li class="flex align-items-center mb-3"><i
                class="pi pi-arrow-circle-right text-green-500 mr-2"></i><span>Sensitive to all kinds of
                defects</span></li>
        <li class="flex align-items-center mb-3"><i
                class="pi pi-arrow-circle-right text-green-500 mr-2"></i><span>Portable, battery operated testing
                device</span></li>
        <li class="flex align-items-center mb-3"><i
                class="pi pi-arrow-circle-right text-green-500 mr-2"></i><span>On-line, volume inspection</span>
        </li>
        <li class="flex align-items-center mb-3"><i
                class="pi pi-arrow-circle-right text-green-500 mr-2"></i><span>Very fast scanning</span></li>
        <li class="flex align-items-center mb-3"><i
                class="pi pi-arrow-circle-right text-green-500 mr-2"></i><span>Set-up independent of weld
                configuration</span></li>
        <li class="flex align-items-center mb-3"><i
                class="pi pi-arrow-circle-right text-green-500 mr-2"></i><span>Amplitude insensitive, acoustical
                coupling less critical</span></li>








        </div>